.DS_Store
node_modules
bun.lockb
bun.lock
clawos.json
dist
build
artifacts
web/storage/assets
web/storage/releases/latest.json
download
tmp-dev-stderr.log
tmp-dev-stdout.log
tmp-dev-stderr-2.log
tmp-dev-stdout-2.log
data
.env
